.mainContent {
    animation: fadeIn 2s ease-out;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    margin-bottom: 10rem;
  
}


.topCaption{
   
    margin: 2rem;
}

.eventCardContent{
    list-style: none;
}

