/************/
/* titlePic */
/************/
.titlePicture {
    width: 100%;
    margin: 20px auto 50px auto;
    left: 0;
    right: 0;
}
/******************/
/* titlePic - End */
/******************/

/*********/
/* Quote */
/*********/
.topCaption {
    text-align: center;
    font-size: clamp(1rem, 3vw, 2.5rem);
    margin: 20px auto 50px auto;
    font-style: bold;
    color: #c4e7d2;
}
/***************/
/* Quote - End */
/***************/

/****************/
/* Text Content */
/****************/
.mainContent {
    animation: fadeIn 2s ease-out;
    font-size: 1.2rem;
    text-align: center;
    color: #f4f4f4;
    margin: 0 auto;
}

.videoContent {
    background-image: url("../assets/images/hog-rider-gif-5.gif");
    background-size: cover;
    border: 1px solid rgb(77, 158, 108);
    font-size: 1.2rem;
    text-align: center;
    color: #f4f4f4;
    max-width: 70%;
    margin: 0 auto;
}

.videoContentText {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.videoContentDescription {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 55%;
    word-break: break-word;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

@media (max-width: 720px) {
    .videoContent{
        max-width: 90%; 
        background-size: cover;
    }
    .videoContentText{
        margin-bottom: 2rem;
    }
    .videoContentDescription {
 
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

/*********************/
/* Text Content -End */
/*********************/

/**********************/
/* Title and Button */
/**********************/
.whatWeDoTitle {
    margin: 4rem;
}

.descriptionText {
    word-break: break-word;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.eventsButton {
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
    font-weight: bolder;
    margin-bottom: 10rem;
}

/*********************/
/* Become a Member Section */
/*********************/
.becomeMemberSection {
    background-color: #1C3D23;
    margin: 2rem;
    display: flex;
    border-radius: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.becomeMemberTitle {
    margin: 4rem;
    padding: 2rem;
    text-align: start;
    border-right: 1px solid white;
    box-shadow: 10px 0 7px -7px #888; /* Adjust the horizontal offset */
}

.becomeMemberContent {
    display: block;
}

.memberDescription {
    margin: 2rem;
}

.joinFormButton {
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
    font-weight: bolder;
}

@media (max-width: 720px) {
    .becomeMemberSection{
        display: block;
        width: 90%;
        margin: 1rem;
    }
    .becomeMemberTitle{
        
        border: 0px;
        text-align: center;
        margin: 1rem;
   
        padding: 1rem;
      
        box-shadow: 0 5px 5px -5px #cfc9c9; /* Adjust the horizontal offset */
    }
    .descriptionText{
        width: 80%;
    }
    .joinFormButton{
        
    }
    
}

/**********************/
/* Animations */
/**********************/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }   
}
/*******************/
/* Animations - End*/
/*******************/
