/********/
/* Body */
/********/
* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn 2s ease-out;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0b4550, #0b4550);
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/**************/
/* Body - End */
/**************/

/******************/
/* Media Elements */
/******************/
@media (max-width: 768px) {
  .footeradress-items {
      display: flex;
      justify-content: center;
  }
  .dropDownMenu{
      position: relative;
  }
}

@media (max-width:550px) {
  .navbar-items{
    display: grid;
  }
  .navbar-items li a {
      margin: 0px;
      font-size: 1rem;
  }
}
/************************/
/* Media Elements - End */
/************************/

/**************/
/* Animations */
/**************/
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
/*******************/
/* Animations - End*/
/*******************/