/********/
/* Body */
/********/
* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeIn 2s ease-out;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0b4550, #0b4550);
  color: #fff;
}
/**************/
/* Body - End */
/**************/

/**************/
/* Animations */
/**************/
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
/*******************/
/* Animations - End*/
/*******************/

/*********/
/* Main Title (h1) */
/*********/
h1 {
  font-size: clamp(2.5rem, 5vw, 3rem); /* Between 2.5rem and 3rem, scaling with screen width */
  line-height: 1.2;
  color: #9EEB47;
}

/*********/
/* Paragraph (p) */
/*********/
p {
  font-size: clamp(1rem, 2vw, 1.2rem); /* Between 1rem and 1.2rem, scaling with screen width */
  line-height: 1.6;
}

@media (max-width: 720px) {
  h1 {
    font-size: 2rem; 
  }

  p {
    font-size: 1rem; 
  }
}