.mainContainer{
  display:flex;
  flex-wrap: wrap;
}
.gridContainer {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  row-gap: 0rem;
  column-gap: 0rem;
  overflow: scroll;
  scroll-behavior: smooth;
  height: 90%;
  scrollbar-width: none;
  margin-bottom: 2rem;
}
/* @media (max-width: 720px){
  .gridContainer {
    grid-template-columns: repeat(1, minmax(300px, 1fr)); 
    width: 70%;
  }

} */

.gridItem {
  position: relative;
  min-height: 200px;
  transition: transform 0.5s ease-in-out;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.gridCard {
  padding: 0.5rem; /* Reduce padding */
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 12rem; /* Reduce height */
 
}

img {
  width: 100%;
  height: 100%;

}
